<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Reports: <%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'FusionCharts' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'plugins/fancy-type/screen.css', :media => 'screen, projection'%>

  <div class="container">  
		<h1>Ezgraphix online demo!</h1>
			<p> Ezgraphix is a rails plugin to generate flash based graphics for rails applications using a free and customizable chart's set, Ezgraphix <%= link_to 'repository', 'http://github.com/jpemberthy/ezgraphix/tree/master' %> can be found in GitHub, and Ezgraphix <%= link_to 'documentation', 'http://ezgraphix.rubyforge.org/' %> can  be found in RubyForge. Developed by <%= link_to 'jpemberthy', 'http://jpemberthy.github.com/' %> and relased under MIT license. </p>
		<hr>
		<h2 class="alt">This online demo shows basic ezgraphix usage!</h2>
		<hr>
		
<%= yield  %>
 
</div>
</body>
</html>